.profile__edit-button {
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 15px;
  background-size: 10px;
  background-position: center;
  background-image: url(../../../images/pen.svg);
  transition: opacity .2s ease-in-out;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px;
    margin-left: 6px;
  }
}
