.header__logo {
  width: 142px;
  height: 33px;
  display: inline-block;
  transition: opacity .2s ease-in-out;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}


.header__logo:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin: 0px 26px;
    width: 105px;
    height: 24px;
  }
}
