.popup__submite {
  border: none;
  background: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  min-height: 50px;
  margin-top: 37px;
  padding: 0;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__submite:hover {
  opacity: .8;
}

@media screen and (max-width: 468px) {
  .popup__submite {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 34px;
  }
}
